<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>Raid Tool</title>
  <link
    rel="stylesheet"
    href="/static/bootstrap.min.css?<%= bootstrapcss %>"
  >
  <link
    rel="stylesheet"
    href="/static/style.css?<%= stylecss %>"
  >
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <ul class="navbar-nav mr-auto">
            <template v-if="accounts.length >= 1">
          <li class="nav-item active">
            <a
              class="nav-link"
              href="#"
              tabindex="-1"
              @click="selectPage('overview',{},$event)"
            >{{i18n.navOverview}}</a>
          </li>
          <li class="nav-item active"><a
              class="nav-link"
              href="#"
              tabindex="-1"
              @click="selectPage('logs',{},$event)"
            >{{i18n.navArcdps}}</a></li>
          <li class="nav-item active"><a
              class="nav-link"
              href="#"
              tabindex="-1"
              @click="selectPage('friends',{},$event)"
            >{{i18n.navFriends}}</a></li>
          </template>
            <li class="nav-item active">
              <a
                class="nav-link"
                href="#"
                tabindex="-1"
                @click="selectPage('settings',{},$event)"
              >{{i18n.navSettings}}</a>
            </li>
              <li class="nav-item active" v-if="anyNvidiaShareInstanceRunning"><a
                class="btn btn-danger"
                href="https://nvidia.custhelp.com/app/answers/detail/a_id/4228/~/disabling-the-geforce-experience-share-in-game-overlay"
                tabindex="-1"
              >{{i18n.nvidiaShareEnabled}}</a></li>
            <li class="nav-item-spacer">
              <div v-if="progressConfig.parsingLogs > 0" class="progress progress-parsingLogs" style="display: flex;">
                <div class="progress-bar bg-info" role="progressbar" :style="{
                  overflow:'hidden',
                  width:`${(progressConfig.parsedLogs / (progressConfig.parsingLogs || 1)) * 100}%`,
                  maxWidth: `${(progressConfig.parsedLogs / (progressConfig.parsingLogs || 1)) * 100}%`
                }"></div>
                <div class="progress-bar-label">{{i18n.navSearchForLogs}} {{progressConfig.parsingLogs - progressConfig.parsedLogs}} {{i18n.navSearchForLogsLeft}}</div>
              </div>
            </li>
            <li class="nav-item active" v-if="baseConfig.launchBuddyDir && gw2Instances.lauchbuddy && gw2Instances.lauchbuddy.length < 1"><a
                  class="btn btn-success"
                  href="#"
                  @click="startGame($event)"
                  tabindex="-1"
                >{{i18n.startLaunchBuddy}}</a></li>
            <li class="nav-item active" v-if="!baseConfig.launchBuddyDir && (baseConfig.gw2Dir && gw2Instances.running&& gw2Instances.running.length < 1)"><a
                  class="btn btn-success"
                  href="#"
                  @click="startGame($event)"
                  tabindex="-1"
                >{{i18n.startGame}}</a></li>
            <li class="nav-item nav-item-space active">
              <a
                class="nav-link"
                href="#"
                tabindex="-1"
                @click="selectPage('credits',{},$event)"
              >{{i18n.navCredits}}</a>
            </li>
        </ul>
    </nav>
    <div v-if="page === 'overview'"><%- await include('overview', {}); %></div>
    <div v-if="page === 'logs'"><%- await include('logs', {}); %></div>
    <div v-if="page === 'friends'"><%- await include('friends', {}); %></div>
    <div v-if="page === 'settings'"><%- await include('settings', {}); %></div>
    <div v-if="page === 'credits'"><%- await include('credits', {}); %></div>
    <div v-if="page === 'boss'"><%- await include('boss', {}); %></div>
    <div v-if="page === 'friend'"><%- await include('friend', {}); %></div>
    <div class="zoom-indicator" v-if="baseConfig.zoom!==1">{{Math.round(baseConfig.zoom * 100)}}%</div>
  </div>
    <script src="/socket.io/socket.io.js?<%= socketversion %>"></script>
  <script src="/ext/vue/vue.global.js?<%= vueversion %>"></script>
  <script src="/i18n.js?<%= i18nversion %>"></script>
  <script src="/index.js?<%= indexjsversion %>"></script>
  <script src="/ext/luxon/luxon.min.js?<%= luxonversion %>"></script>
</body>

</html>